{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol reversed class="postlist">
{% set currentYear = "" %}
{% for post in postslist | reverse %}
    {% set postYear = post.date | readableDate("yyyy") %}
    {% if postYear != currentYear %}
        {% set currentYear = postYear %}
        <h2>{{ currentYear }}</h2>
    {% endif %}
    <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
        <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("yyyy·MM·dd") }}</time>
        <a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    </li>
{% endfor %}
</ol>